In [174]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import datetime

import numpy as np
import pandas as pd
import random
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.pylab import rcParams
import urllib.request

#Импортируем нужные библиотеки:
import numpy as np
import pandas as pd
from sklearn import datasets
from sklearn import linear_model
from sklearn.cluster import KMeans
from sklearn import cross_validation
from sklearn import metrics 
from pandas import DataFrame
%pylab inline

Populating the interactive namespace from numpy and matplotlib

/anaconda3/lib/python3.6/site-packages/IPython/core/magics/pylab.py:160: UserWarning: pylab import has clobbered these variables: ['random']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [175]:
raw_df = pd.read_csv('/Users/stanislav/Downloads/FE 2/rosbank_train.csv')
raw_df.head()

# target_sum - можно выкинуть, переменная участвует в другой задаче

,PERIOD,cl_id,MCC,channel_type,currency,TRDATETIME,amount,trx_category,target_flag,target_sum
0,01/10/2017,0,5200,NaN,810,21OCT17:00:00:00,5023.0,POS,0,0.0
1,01/10/2017,0,6011,NaN,810,12OCT17:12:24:07,20000.0,DEPOSIT,0,0.0
2,01/12/2017,0,5921,NaN,810,05DEC17:00:00:00,767.0,POS,0,0.0
3,01/10/2017,0,5411,NaN,810,21OCT17:00:00:00,2031.0,POS,0,0.0
4,01/10/2017,0,6012,NaN,810,24OCT17:13:14:24,36562.0,C2C_OUT,0,0.0

In [176]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 490513 entries, 0 to 490512
Data columns (total 10 columns):
PERIOD          490513 non-null object
cl_id           490513 non-null int64
MCC             490513 non-null int64
channel_type    487603 non-null object
currency        490513 non-null int64
TRDATETIME      490513 non-null object
amount          490513 non-null float64
trx_category    490513 non-null object
target_flag     490513 non-null int64
target_sum      490513 non-null float64
dtypes: float64(2), int64(4), object(4)
memory usage: 37.4+ MB

In [177]:
print("Total clients: ", len(raw_df.cl_id.unique()))

Total clients:  5000

In [178]:
raw_df_linear=raw_df[
    ['cl_id', 'amount', 'trx_category','target_flag']
].groupby(['cl_id', 'trx_category', 'target_flag']).agg(['sum'])

In [179]:
raw_df_sum=raw_df_linear.groupby(['cl_id','target_flag']).sum(level='trx_category')

In [180]:
raw_df_sum.head(10)

                       amount
                          sum
cl_id target_flag
0     0              64383.00
1     0             267578.04
5     1             546369.13
9     0             849315.09
10    0            1124343.99
11    0             427747.14
14    1             448690.17
20    0             437308.09
21    0             338881.65
22    0             249767.00

In [181]:
#raw_df_linear1=raw_df[
    ['cl_id', 'amount', 'trx_category','target_flag']
].groupby(['cl_id', 'trx_category', 'target_flag']).agg(['mean'])

IndentationError: unexpected indent (<ipython-input-181-e5967415d08c>, line 2)

In [ ]:
#raw_df_sum1=raw_df_linear1.groupby(['cl_id','target_flag']).sum(level='trx_category')

In [ ]:
raw_df_sum=pd.DataFrame(raw_df_sum)

In [182]:
#raw_df_sum1=pd.DataFrame(raw_df_sum1)

In [183]:
raw_df_sum=raw_df_sum.reset_index()

In [184]:
raw_df_sum.head()

  cl_id target_flag      amount
                            sum
0     0           0    64383.00
1     1           0   267578.04
2     5           1   546369.13
3     9           0   849315.09
4    10           0  1124343.99

raw_df_linear1=raw_df[
    ['cl_id', 'amount', 'trx_category','target_flag']
].groupby(['cl_id', 'trx_category', 'target_flag']).agg(['mean'])

In [185]:
raw_df_mean=raw_df_linear1.groupby(['cl_id','target_flag']).sum(level='trx_category')

In [186]:
raw_df_mean1=pd.DataFrame(raw_df_mean)

In [187]:
raw_df_mean1=raw_df_mean1.reset_index()

In [188]:
raw_df_mean1.head()

  cl_id target_flag         amount
                              mean
0     0           0   59169.000000
1     1           0   98713.643960
2     5           1   63841.921374
3     9           0  291409.715747
4    10           0   54634.745843

features = raw_df_sum['sum'], raw_df_mean1['mean']
# Извлекаем массивы NumPy
X = features.values
y = raw_df_sum['target_flag'].values

In [218]:
train_data, test_data, train_labels, test_labels = cross_validation.train_test_split(features, raw_df_sum[['target_flag']], test_size = 0.3, random_state = 0)
model = linear_model.SGDClassifier(alpha=0.09, n_iter=10000, random_state = 0)
model.fit(train_data, train_labels)
model_predictions = model.predict(test_data)
print (metrics.accuracy_score(test_labels, model_predictions))
print (metrics.classification_report(test_labels, model_predictions))

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/stochastic_gradient.py:117: DeprecationWarning: n_iter parameter is deprecated in 0.19 and will be removed in 0.21. Use max_iter and tol instead.
  DeprecationWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.546
             precision    recall  f1-score   support

          0       0.66      0.06      0.12       703
          1       0.54      0.97      0.69       797

avg / total       0.60      0.55      0.42      1500